#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item.active
      %img{:src => "http://images.boomsbeat.com/data/images/full/24381/cat_1-jpg.jpg", :style => "height:200px"}
        .carousel-caption
          ololo
    .item
      %img{:src => "http://images.boomsbeat.com/data/images/full/24382/cat_2-png.png", :style => "height:200px"}
        .carousel-caption
    .item
      %img{:src => "http://core4.staticworld.net/images/idge/imported/imageapi/2014/09/11/15/slide_image_00-39ss-github-100416858-carousel.idge.jpg", :style => "height:200px"}
        .carousel-caption
    Welcome
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}