<h1>Listing ratings</h1>

<table>
  <thead>
    <tr>
 
      <th>Rating number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
       
        <td><%= rating.rating_number %></td>
        
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
