<table align = "left" width = "70%">
<tr>
<td width = "25%" align = "center">
<h3><%= t :new_review%></h3></td>
<td><h3>
<%Book.where(id: cookies[:id]).find do |book|%>
<%= link_to "#{book.title}", book%>
<%end%>
</h3>
</td></tr>
<tr><td colspan = "2">
<%= render 'form' %>
</td></tr></table>

