/*
 *= require bootstrap_and_overrides
 */
.header{
  background: linear-gradient(to top, #ffffff, #cccccc);
}
.tab1{
  text-align: left;
}
.tab2{
  width: 90%;
  border-bottom-style: dotted;
}

.tab3 tr {
  text-align: center;
 
}
.tab4{
  width: 30%;
  
}
.tab4 tr{
  height: 30px;
}
.tab5{
  width: 45%;

}
.tab5 tr{
  height: 30px;
}
.tab6{
  width: 80%;
}
.tab6 td{
  vertical-align: baseline;
}
.tab7 {
  width: 90%;
}
.tab7 td {
  vertical-align: top;
}
.tab8 {
  vertical-align: top;

}
.tab9 {
  text-align: center;
}
.tab9 tr{
  height: 50px;
}
.tab9 input, select {
  width: 200px;
  text-align: center;
  font-weight: 700;
  border-style: solid;
}

.start {
  width: 60%;
}

.tab10 input{
  width: 20px
}
.bot {
  vertical-align: bottom;
}
.button{
  height: 33px;
  border: 2px solid;
  border-radius: 5px;
}
.button2 input{

  border: 2px solid;
  border-radius: 5px;
}
.button3 input{
  width: 75px;
  border: 2px solid;
  border-radius: 5px;
}
.button4 input{
  height: 33px;
  border: 2px solid;
  border-radius: 5px;
}
.button5 input{
  height: 33px;
  width: 70px;
  border: 2px solid;
  border-radius: 5px;
}
.td_header {
  width: 100%;
}
.td_header td {
  width: 20%;
  text-align: center;
}
.book {
  width: 200px;
}
h4 {
  vertical-align: bottom;
}
  body {
  background-color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}