<center><br>
<table class="title">
<tr><td><h2>
<%=t :list_categories %></h2></td></tr></table>
<br>
<table>
  <thead>
    <tr>
      <th><%= t :category_title%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%=link_to category.title, category %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if signed_in?%>
<%if current_costumer.admin?%>

  
<%=link_to "#{t :new}", new_category_path%>
<%end%>
<%end%>
</center>

